<header id="fh5co-header" role="banner">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"> 
      <!-- Mobile Toggle Menu Button -->
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
      <a class="navbar-brand cursorPointer" (click)="setPageNumber(1)">
        <img src="assets/images/logo.png" style="width: 90px; height: 35px;" alt="Icon">
      </a>
      </div>
      <div id="fh5co-navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li [ngClass]="{'active': pageNumber === 1,'cursorPointer': true}"><a (click)="setPageNumber(1)"><span>Home <span class="border"></span></span></a></li>
          <li [ngClass]="{'active': pageNumber === 2,'cursorPointer': true}"><a (click)="setPageNumber(2)"><span>Registration <span class="border"></span></span></a></li>
          <li [ngClass]="{'active': pageNumber === 3,'cursorPointer': true}"><a (click)="setPageNumber(3)"><span>User List <span class="border"></span></span></a></li>
          <li [ngClass]="{'active': pageNumber === 4,'cursorPointer': true}"><a (click)="setPageNumber(4)"><span>About Us <span class="border"></span></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- END .header -->

<app-home *ngIf="pageNumber ==1"></app-home>
<app-registration *ngIf="pageNumber ==2"></app-registration>
<app-login *ngIf="pageNumber ==3"></app-login>
  <!-- Products -->


